@import '~scss-reset/_reset.scss';
@import '~bootstrap-scss/bootstrap-grid.scss';
@import '@/styles/global-colors.scss';
@import '@/styles/global-fonts.scss';



html{
  font-size: 8px;
  @include media-breakpoint-down(md){
    font-size: 7px;
  }
}

body{
  font-family: Roboto;
}

a {
  color: $green;
  &:hover {
    border-bottom: 1px solid $green;
  }
}