html{
  font-size: 8px;
  @include media-breakpoint-down(md){
    font-size: 6px;
  }
}

body{
  font-family: Roboto;
  font-size: 14px;
}

a {
  color: $green;
  &:hover {
    border-bottom: 1px solid $green;
  }
}